# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# pyright
typings/

# VS Code
.vscode/

# Docker
**/.dockerignore
docker-compose.override.yml

# GitHub Actions
.github/workflows/*.yml

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# IDEs
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
*.swp
*.bak
*.tmp
*.log
*.tgz
*.gz

# Others
*.pem
*.key
*.crt
